.carddetail-body {
  text-align: center;
  background-image: url("../../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card-detail-main {
  display: flex;
  flex-direction: row;
  width: 73em;
  height: 33em;
}

.front-card {
  background-image: url("../../images/bg-card-front.png");
  height: 245px;
  width: 447px;
  margin-left: -6em;
  position: relative;
}
.front-card-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 84%;
  position: absolute;
  top: 10%;
  left: 8%;
}

.back-card {
  background-image: url("../../images/bg-card-back.png");
  height: 245px;
  width: 447px;
}

.cards-place {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.full-rounded {
  background-color: white;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
}

.entry-rounded {
  height: 1.3em;
  width: 1.3em;
  border: 1px solid #fff;
  border-radius: 50%;
}
.round-place {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 5.5em;
  justify-content: space-between;
}

.namewithdate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

.front-card-bottom {
  height: 4.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-number {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5em;
  text-align: start;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.24em;
  opacity: 0.9;
}
