body {
  display: flex;

  overflow-x: hidden;
  max-width: center;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
